In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter('ignore')

In [4]:
df = pd.read_csv(r"E:\Data Science by SRK\Machine_learning\project\University admission\cleaned_dataset_admission_predict.csv")

In [5]:
df

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

**X and y**

In [6]:
X = df.drop(columns = ['Chance_of_Admit'])
y = df['Chance_of_Admit']

# Train Test Split

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 8)

# Modelling AND Evaluation

**lasso regression with defaault parameters**

In [8]:
from sklearn.linear_model import ElasticNet
enr_base =  ElasticNet()
enr_base.fit(X_train,y_train)

# Prediction
train_predictions = enr_base.predict(X_train)
test_predictions = enr_base.predict(X_test)

# Evaluation
print("Train_R2", enr_base.score(X_train, y_train))

from sklearn.model_selection import cross_val_score
print("Cross_val_score", cross_val_score(enr_base, X, y, cv = 5).mean())

print("Test_R2", enr_base.score(X_test, y_test))

Train_R2 0.5705650141894687
Cross_val_score 0.5324389764785071
Test_R2 0.5494487255502882

**Appying Hyperparameter tuning for lasso regression**

In [9]:
from sklearn.model_selection import GridSearchCV

# model
estimator = ElasticNet()

# parameters & Values
param_grid = {"alpha" : [0.1,0.2,1,2,3,5,10], "l1_ratio" : [0.1,0.5,0.75,0.9,0.95,1]}

# Identifying the best value of the parameter within given values for the given data
model_hp = GridSearchCV(estimator, param_grid, cv= 5, scoring = 'neg_mean_squared_error')
model_hp.fit(X_train, y_train)
model_hp.best_params_

{'alpha': 0.1, 'l1_ratio': 0.1}

**Rebuilt lasso model using best hyperparameters**

In [10]:
# modelling

enr_best = ElasticNet(alpha=10, l1_ratio=1)
enr_best.fit(X_train,y_train)

print("Intercept : ", enr_best.intercept_)
print("coefficient : ", enr_best.coef_)
print("============================================")

# Predictions
train_predictions = enr_best.predict(X_train)
test_predictions  = enr_best.predict(X_test)

# Evaluation
print('Train_R2 : ', enr_best.score(X_train, y_train))
print("Test_R2 : ", enr_best.score(X_test, y_test))
print("cross_val_score : ", cross_val_score(enr_best, X, y, cv=5).mean())

Intercept :  0.721875
coefficient :  [0. 0. 0. 0. 0. 0. 0.]
============================================
Train_R2 :  0.0
Test_R2 :  -2.4812716745481467e-05
cross_val_score :  -0.07495355915968034