In [34]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter('ignore')

In [35]:
df = pd.read_csv(r"E:\Data Science by SRK\Machine_learning\project\University admission\cleaned_dataset_admission_predict.csv")

In [36]:
df

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [37]:
df.dtypes

GRE_Score              int64
TOEFL_Score            int64
University_Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance_of_Admit      float64
dtype: object

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE_Score          500 non-null    int64
 1   TOEFL_Score        500 non-null    int64
 2   University_Rating  500 non-null    int64
 3   SOP                500 non-null    float64
 4   LOR                500 non-null    float64
 5   CGPA               500 non-null    float64
 6   Research           500 non-null    int64
 7   Chance_of_Admit    500 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 31.4 KB

**X & y**

In [39]:
X = df.drop(columns = ['Chance_of_Admit'])
y = df['Chance_of_Admit']

# Train_Test_split

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 8)

# Modelling And Evaluation

**Applying hyperparameter tuning for lasso regression**

In [41]:
from sklearn.model_selection import GridSearchCV

# model
from sklearn.linear_model import Lasso
estimator = Lasso()

# parameter and value
param_grid = {"alpha" : list(range(1, 100))}

# Identifying best parameter value(alpha0) within the given vaalues for the given data
model_hp = GridSearchCV(estimator, param_grid, cv=5,scoring = 'r2')

model_hp.fit(X_train, y_train)
model_hp.best_params_

{'alpha': 1}

If you are consistently getting alpha = 1 as the best value for multiple datasets, this suggests Regularization Might Not Be Needed

**BUILD LASSO MODEL USING BEST HYPERPARAMETERS**

In [42]:
from sklearn.linear_model import Lasso
lasso_best = Lasso(alpha = 1)
lasso_best.fit(X_train, y_train)

print("Intercept : ", lasso_best.intercept_)
print("Coefficient : ", lasso_best.coef_)
print("==========================================")

# Prediction And Evaluation on train Data
ypred_train = lasso_best.predict(X_train)

from sklearn.metrics import r2_score
print("Train_R2 : ", r2_score(y_train, ypred_train))

from sklearn.model_selection import cross_val_score
print("Cross_val_score : ", cross_val_score(lasso_best, X_train, y_train, cv = 5).mean())

# PREDICTION AND EVALUATION ON TEST DATA
ypred_test = lasso_best.predict(X_test)
print('Test_r2 : ', r2_score(y_test, ypred_test))

Intercept :  -0.05273551898983242
Coefficient :  [0.00244577 0.         0.         0.         0.         0.
 0.        ]
==========================================
Train_R2 :  0.2787258058654749
Cross_val_score :  0.27186173059468144
Test_r2 :  0.2796429766888512

- All coefficients showing zero