In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter('ignore')

In [2]:
df = pd.read_csv(r"E:\Data Science by SRK\Machine_learning\project\University admission\cleaned_dataset_admission_predict.csv")

In [3]:
df

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [4]:
X = df.drop(columns = ['Chance_of_Admit'])
y = df['Chance_of_Admit']

**TRAIN_TEST_SPLIT**

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 10)

# Modelling : Polynomial Regression

**Incresing higher degree of input variable & Applying linear regression**

In [6]:
from sklearn.preprocessing import PolynomialFeatures

polynomial_converter =  PolynomialFeatures(degree = 2, include_bias = False)
X_train_poly = pd.DataFrame(polynomial_converter.fit_transform(X_train))

X_train_poly

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,321.0,109.0,3.0,3.5,3.5,8.80,1.0,103041.0,34989.0,963.0,...,12.25,12.25,30.800,3.5,12.25,30.800,3.5,77.4400,8.80,1.0
1,338.0,117.0,4.0,3.5,4.5,9.46,1.0,114244.0,39546.0,1352.0,...,12.25,15.75,33.110,3.5,20.25,42.570,4.5,89.4916,9.46,1.0
2,318.0,107.0,3.0,3.0,3.5,8.27,1.0,101124.0,34026.0,954.0,...,9.00,10.50,24.810,3.0,12.25,28.945,3.5,68.3929,8.27,1.0
3,312.0,107.0,4.0,4.5,4.0,8.65,1.0,97344.0,33384.0,1248.0,...,20.25,18.00,38.925,4.5,16.00,34.600,4.0,74.8225,8.65,1.0
4,331.0,115.0,5.0,4.0,3.5,9.44,1.0,109561.0,38065.0,1655.0,...,16.00,14.00,37.760,4.0,12.25,33.040,3.5,89.1136,9.44,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,317.0,106.0,3.0,4.0,3.5,8.50,1.0,100489.0,33602.0,951.0,...,16.00,14.00,34.000,4.0,12.25,29.750,3.5,72.2500,8.50,1.0
396,314.0,105.0,3.0,3.5,2.5,8.30,0.0,98596.0,32970.0,942.0,...,12.25,8.75,29.050,0.0,6.25,20.750,0.0,68.8900,0.00,0.0
397,317.0,106.0,3.0,3.5,3.0,7.89,1.0,100489.0,33602.0,951.0,...,12.25,10.50,27.615,3.5,9.00,23.670,3.0,62.2521,7.89,1.0
398,300.0,100.0,3.0,2.0,3.0,8.66,1.0,90000.0,30000.0,900.0,...,4.00,6.00,17.320,2.0,9.00,25.980,3.0,74.9956,8.66,1.0
399,313.0,102.0,3.0,2.5,2.5,8.68,0.0,97969.0,31926.0,939.0,...,6.25,6.25,21.700,0.0,6.25,21.700,0.0,75.3424,0.00,0.0

In [7]:
# ALL STEPS IN ONE CELL   (DEGREE = 2)


# Increasing degree of input variable : 
from sklearn.preprocessing import PolynomialFeatures
polynomial_converter =  PolynomialFeatures(degree = 2, include_bias = False)
X_train_poly = pd.DataFrame(polynomial_converter.fit_transform(X_train))


# Create model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_poly, y_train)

#("Intercept : ",model.intercept_)
#print("coefficients : ", model.coef_)

# Prediction on Train data
ypred_train = model.predict(X_train_poly)


# EVALUATION on Train data
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

#print("Train RMSE : ", np.sqrt(mean_squared_error(y_train, ypred_train)))
print("Train R2 : ", r2_score(y_train, ypred_train))
print("Cross_validation_score : ", cross_val_score(model, X_train_poly, y_train, cv= 5).mean())


# Variable Significance
# ASSUME HERE ALL VARIABLES ARE SIGNIFICANT


# Data preprocessing n test data
X_test_poly = pd.DataFrame(polynomial_converter.transform(X_test))


# prediction on test data
ypred_test = model.predict(X_test_poly)


# Evaluation on Test data
print("Test R2 : ", r2_score(y_test, ypred_test))

Train R2 :  0.8400463371153264
Cross_validation_score :  0.7971872775205359
Test R2 :  0.8020828386022386

**(Degree = 2) : NO overfitting problem MEANS THIS IS BEST MODEL as degree 2**

In [9]:
# ALL STEPS IN ONE CELL   (DEGREE = 3)


# Increasing degree of input variable : 
from sklearn.preprocessing import PolynomialFeatures
polynomial_converter =  PolynomialFeatures(degree = 3, include_bias = False)
X_train_poly = pd.DataFrame(polynomial_converter.fit_transform(X_train))


# Create model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_poly, y_train)

#("Intercept : ",model.intercept_)
#print("coefficients : ", model.coef_)

# Prediction on Train data
ypred_train = model.predict(X_train_poly)


# EVALUATION on Train data
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

#print("Train RMSE : ", np.sqrt(mean_squared_error(y_train, ypred_train)))
print("Train R2 : ", r2_score(y_train, ypred_train))
print("Cross_validation_score : ", cross_val_score(model, X_train_poly, y_train, cv= 5).mean())


# Variable Significance
# ASSUME HERE ALL VARIABLES ARE SIGNIFICANT


# Data preprocessing n test data
X_test_poly = pd.DataFrame(polynomial_converter.transform(X_test))


# prediction on test data
ypred_test = model.predict(X_test_poly)


# Evaluation on Test data
print("Test R2 : ", r2_score(y_test, ypred_test))

Train R2 :  0.8703821484359731
Cross_validation_score :  0.3913652156376921
Test R2 :  0.6554263176308224

**(Degree = 3) : overfitting problem not good model**