In [13]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter('ignore')

In [14]:
df = pd.read_csv(r"E:\Data Science by SRK\Machine_learning\project\University admission\cleaned_dataset_admission_predict.csv")

In [15]:
df

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

**X and y**

In [16]:
X = df.drop(columns = ['Chance_of_Admit'])
y = df['Chance_of_Admit']

# Train Test Split

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 8)

# Modelling AND Evaluation

**Applying Hyperparameter tuning for Ridge regression**

In [18]:
# All in one cell

from sklearn.model_selection import GridSearchCV

# model
from sklearn.linear_model import Ridge
estimator = Ridge()

# parameters and value
param_grid = {"alpha" : list(range(1,100))}


# Identifying best parameter value(alpha) within the given values for the given data
model_hp = GridSearchCV(estimator, param_grid, cv=5, scoring = 'r2')

model_hp.fit(X_train, y_train)
model_hp.best_params_

{'alpha': 1}

**Modelling Ridge Regression using best hyperparameters**

In [20]:
X = df.drop("Chance_of_Admit", axis = 1)
y = df['Chance_of_Admit']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 8)



from sklearn.linear_model import Ridge
ridge_best = Ridge(alpha=1)
ridge_best.fit(X_train,y_train)

print("Intercept : ", ridge_best.intercept_)
print("coefficients : ", ridge_best.coef_)
print("=============================================")

# Prediction and evaluation on train_data
ypred_train = ridge_best.predict(X_train)

from sklearn.metrics import r2_score
print("Train_R2 : ", r2_score(y_train, ypred_train))

from sklearn.model_selection import cross_val_score
print("Cross_val_score : ", cross_val_score(ridge_best, X_train, y_train, cv = 5).mean())

# Prediction & E valuation on test data
ypred_test = ridge_best.predict(X_test)
print("R2_score : ", r2_score(y_test, ypred_test))

Intercept :  -1.352587343428237
coefficients :  [ 0.00200052  0.00333828  0.00608039 -0.00183114  0.01676839  0.11628357
  0.02498186]
=============================================
Train_R2 :  0.8293053385938981
Cross_val_score :  0.8224263993668448
R2_score :  0.7859973483286554

- All coefficients are zero